
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'),
  url('../fonts/nunito-sans-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/nunito-sans-v12-latin-600.woff2') format('woff2'),
  url('../fonts/nunito-sans-v12-latin-600.woff') format('woff');
}


@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
  url('../fonts/nunito-sans-v12-latin-300.woff2') format('woff2'),
  url('../fonts/nunito-sans-v12-latin-300.woff') format('woff');
}

body{
  font-family: 'Nunito Sans';
  font-style: normal;
  padding: 0;
  margin: 0;
}

.container{
  width: 1150px;
  padding: 0 40px;
  margin: 0 auto;
}

.header{
  background-color: #D3CBC5;
  padding: 16px 0;
}

.header__inner{
  display: flex;
  align-items: center;
}

.header__logo-link{
  margin-right: 200px;
}

.header__nav{
  display: flex;
  align-items: center;
}

.header__list{
  display: flex;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.header__item{
  margin-right: 25px;
}

.header__item-link{
  font-weight: 300;
  font-size: 16px;
  line-height: 60px;
  color: #1B1A1A;
  text-decoration: none;
}

.active{
  text-decoration: underline;
}

.header__item-link:active{
  text-decoration: underline;
}

.header__item-link:hover{
  text-decoration: underline;
}

.header__btns{
  margin-left: 220px;
}

.header__bin-btn{
  background-color: transparent;
  border: transparent;
  margin-left: 27px;
}

.header__btn-img{
  width: 20px;
  height: 20px;
}

.header__search-btn{
  background-color: transparent;
  border: transparent;
}


.hero{
  background-image: url(../images/hero-img.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero__inner{
  padding-top: 206px;
  padding-bottom: 294px;
}

.hero__subtitle{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 60px;
  text-transform: uppercase;
  color: #2C314B;
  margin: 0;
  margin-bottom: 7px;
}

.hero__title{
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #1B1A1A;
  margin: 0;
  padding: 0;
}

.hero__text{
  margin: 0;
}

.hero__amount{
  font-weight: 400;
  font-size: 24px;
  line-height: 60px;
  color: #121211;
  text-decoration: none;
}

.hero__start{
  color:#878787;
}

.hero__link{
  font-weight: 600;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background: #1C1B1B;
  padding: 7px 17px;
}

.collaction{
  padding: 94px 0;
}

.collaction__list{
  display: flex !important;
  align-items: center !important;
  list-style-type: none;
  padding: 0;
}

.collaction__item{
  width: 350px;
  background-color: #E5E6E6;
  padding-top: 50px;
}

/* .item{
  height: 449px;
} */
.collaction__item + .collaction__item{
  margin-left: 30px;
}

.collaction__info{
  padding-left: 31px;
  position: relative;
  margin-bottom: 10px;
}

.collaction__item-title{
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #282828;
  margin: 0;
  padding-bottom: 5px;
}

.title{
  height: 80px;
}
.collaction__item-link{
  font-weight: 600;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  color: #1B1A1A;
  padding: 7px 17px 0 ;

}

.collaction__item-link::before{
  content: "";
  display: block;
  width: 124px;
  height: 48px;
  position: absolute;
  top: 90px;
  left: 27px;
  background-image: url(../images/lines.png);
  background-repeat: no-repeat;
}

.collaction__item-img{
  display: block;
  margin: 0 auto;
}

.first-img{
  margin-left: 128px;
}

.second-img{
  object-fit: fill;
}

.team__info{
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
}

.team__line{
  content: "";
  width: 55px;
  border: 1.2px solid #9A6437;
  background-color: #9A6437;
  position: absolute;
}
.team__title{
  font-weight: 400;
  font-size: 16px;
  line-height: 60px;
  color: #9A6437;
  margin: 0;
  margin-left: 65px;
}

.team__subinner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team__subtitle{
  font-weight: 400;
  font-size: 42px;
  line-height: 60px;
  color: #1B1A1A;
  margin: 0;
}

.team__menu-list{
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.team__menu-item{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 5px 19px;
}

.team__menu-item:first-child{
  background-color: #1C1B1B;
  color: #FFFFFF;
}

.team__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.team__item{
  width: 255px;
  margin-bottom: 40px;
}

.team__link{
  text-decoration: none;
}

.team__img-box{
  height: 250px;
  background: #F7F7F7;
}

.team__img{
  text-align: center;
  padding: 64px 74px 31px;
}

.team__item-info{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #1C1B1B;
  padding: 10px 0;
}

.team__save-img{
  margin: 0 20px;
}

.team__item-title{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #282828;
  margin: 7px 0 9px;
}


.team__old-price{
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #737373;
}

.team__new-price{
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #1E1D1D;
  margin: 0 50px 0 10px;
}

.clients{
  background-image: url("../images/clients-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(14, 14, 14, 0.39);
}

.clients__inner{
  padding: 73px 0;
}

.clients__subtitle{
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: #E0E0E0;
  margin: 0;
}

.clients__subtitle::before{
  position: absolute;
  content: "";
  display: block;
  width: 55px;
  height: 0px;
  top: 28px;
  right: 0;
  bottom: 0;
  left: 250px;
  margin: 0 auto;
  border: 1px solid #E0E0E0;
  background-color: #E0E0E0;
}

.clients__subtitle::after{
  position: absolute;
  content: "";
  display: block;
  width: 55px;
  height: 0px;
  top: 28px;
  left: 0;
  bottom: 0;
  right: 250px;
  margin: 0 auto;
  border: 1px solid #E0E0E0;
  background-color: #E0E0E0;
}

.clients__title{
  font-weight: 400;
  font-size: 42px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 31px;
}

.clients__list{
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 80px 0 0;
}

.clients__item{
  width: 255px;
  padding: 22px 29px;
  background-color: #FFFFFF;
  position: relative;
  text-align: center;
}

.clients__item + .clients__item{
  margin-left: 30px;
}

.clients__img-wrapper{
  width: 111px;
  height: 111px;
  border-radius: 50%;
  background-color: #D9D9D9;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -30px;
}

.clients__img{
  width: 111px;
  height: 96px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -12px;
  margin: auto;
}

.clients__name{
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #1B1A1A;
  margin: 0;
  margin-top: 80px;
}

.clients__job{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin: 0;
}

.clients__rate{
  padding-bottom: 5px;
  border-bottom: 1px solid #E0E0E0;
}
.clients__description{
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.product{
  padding: 106px 0;
}

.product__subtitle{
  font-weight: 400;
  font-size: 16px;
  line-height: 60px;
  color: #9A6437;
  position: relative;
  padding-left: 65px;
}

.product__subtitle::before{
  content: "";
  display: block;
  position: absolute;
  width: 55px;
  border: 1px solid #9A6437;
  top: 8px;
  left: 0;
}

.product__info{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.product__title{
  font-weight: 400;
  font-size: 42px;
  line-height: 60px;
  color: #1B1A1A;
  margin: 0;
}

.product__link{
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  color: #1B1A1A;
  position: relative;
}

.product__link::before{
  content: "";
  display: block;
  width: 143px;
  height: 48px;
  position: absolute;
  top: 12px;
  left: 0;
  background-image: url(../images/more-products.png);
  background-repeat: no-repeat;
}

.quality__inner{
  padding: 57px 51px;
  background: #1C1B1B;
}

.quality__list{
  display: flex;
  align-items: center;
}

.quality__item{
  display: flex;
  align-items: center;
}

.quality__item + .quality__item{
  margin-left: 27px;
  padding-left: 20px;
  border-left: 1px solid #A6A6A6;
}

.quality__item-info{
  margin-left: 20px;
}

.quality__title{
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 0;
}

.quality__text{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
}

.articles{
  padding: 100px 0;
}

.articles__subtitle{
  color: #9A6437;
}

.articles__subtitle::before{
  position: absolute;
  content: "";
  display: block;
  width: 55px;
  height: 0px;
  top: 28px;
  right: 0;
  bottom: 0;
  left: 250px;
  margin: 0 auto;
  border: 1px solid #9A6437;
  background-color: #9A6437;
}

.articles__subtitle::after{
  position: absolute;
  content: "";
  display: block;
  width: 55px;
  height: 0px;
  top: 28px;
  left: 0;
  bottom: 0;
  right: 250px;
  margin: 0 auto;
  border: 1px solid #9A6437;
  background-color:  #9A6437;
}

.articles__title{
  font-weight: 400;
  font-size: 42px;
  line-height: 60px;
  text-align: center;
  color: #1B1A1A;
  margin: 0;
}

.articles__list{
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 44px;
}

.articles__item{
  width: 350px;
  border: 1px solid #ACACAC;
}

.articles__item + .articles__item{
  margin-left: 29px;
}

.articles__item-inner{
  padding:  25px;
  position: relative;
}

.articles__num{
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  margin: 0;
}

.articles__time{
  position: absolute;
  top: -50px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  border-bottom: 2px solid #9A6437;
  margin: 0;
  padding: 0 7px 3px ;
}


.articles__text{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #2E2D2D;
  margin: 0;
}

.articles__link{
  font-weight: 400;
  font-size: 14px;
  line-height: 60px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: #1B1A1A;
  padding-left: 12px;
}

.articles__link::before{
  content: "";
  display: block;
  width: 143px;
  height: 48px;
  position: absolute;
  top: -14px;
  left: -4px;
  background-image: url(../images/more-products.png);
  background-repeat: no-repeat;
}

.subscribe{
padding: 88px 0 78px;
background-image: url("../images/footer-bg.png");
background-repeat: no-repeat;
background-size: 100%;
}

.subscribe__info{
  width: 423px;
  text-align: center;
  margin: 0 auto;
}

.subscribe__title{
display: block;
font-weight: 400;
font-size: 36px;
line-height: 46px;
color: #1B1A1A;
margin: 0;
}

.subscribe__text{
  font-weight: 300;
font-size: 18px;
line-height: 28px;
color: #5E5E5E;
padding: 0;
margin: 7px 0 17px;
}

.subscribe__form{
  display: flex;
  align-items: center;
}

.subscribe__input{
  width: 275px;
  font-weight: 300;
font-size: 12px;
line-height: 28px;
color: #8E8E8E;
border: 0.8px solid #5A5A5A;
border-radius: 4px;
margin-right: 10px;
padding: 11px 0 10px 13px;
background-color: transparent;
}

.subscribe__btn{
  font-weight: 300;
font-size: 12px;
line-height: 28px;
text-align: center;
color: #1B1A1A;
background-color: transparent;
border: 0.8px solid #5A5A5A;
border-radius: 4px;
padding: 11px 30px;
}

.footer{
padding: 16px 0;
}

.footer__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__text{
  font-weight: 300;
  font-size: 12px;
  line-height: 28px;
  color: #424242;
  padding: 0;
  margin: 0;
}

.footer__list{
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.footer__item + .footer__item{
margin-left: 21px;
}

.footer__link{
  text-decoration: none;
}